.content-title{
    font-weight: 600;
    color: #22272D;
    font-size: 32px;
}


.form-wrapper{
    width: 600px;
    max-width: 100%;
}

.input-group label{
    margin-left: 0px;
    
}


/* .link-sidenav{
    margin-left: 8px;
} */

.side-title{
    margin: 0px !important;
    position: relative;
    pointer-events: none;
}
.side-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
}


.sidenav{
    overflow-y: auto;
}


    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #012733;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-600);
    border-radius: 8px;
    transition: 0.3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-800);
  }
