* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-green-500: #24B04B;
    --color-gray-100: #F2F5F8;
    --color-gray-200: #E9EBEE;
    --color-gray-300: #CCD1D6;
    --color-gray-400: #ACB4BA;
    --color-gray-500: #5A646E;
    --color-gray-600: #737D86;
    --color-gray-700: #3B454F;
    --color-gray-900: #22272D;

    --color-primary-800: #101b3d;
    --color-primary-600: #18295b;
    --color-primary-500: #1c2f69;
    --color-primary-300: #233a80;
    --color-primary-100: #2a469b;

    --color-secondary: #fb5e2c;

}

body {
    position: relative;
}

.overlay {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease-in-out;
    z-index: 20;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}


.instancia-status {
    font-size: 23px;
    font-weight: 600;

}

.text-title {
    font-weight: bold;
    color: var(--color-primary-600);
}

/* sidenav */

.side-navigator {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 240px;
    position: fixed;
    left: -240px;
    height: 100vh;
    padding: 1.5rem;
    transition: 0.3s all ease-in-out;
    z-index: 30;
}

.side-navigator.active {
    left: 0px;
}

.links-wrapper-sidenavigator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 0 0;
}

.link-sidenavigator {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-500);
    transition: 0.3s all ease-in-out;
}

.link-sidenavigator:hover {
    color: var(--color-primary-500);
}

.no-word-wrap {
    white-space: nowrap;
}


/* Defina a classe logo-loader */
.logo-loader {
    animation: spin 1.7s linear infinite;
    /* Use a animação chamada 'spin' */
}

/* Defina a animação 'spin' */
@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Comece sem rotação */
    }

    100% {
        transform: rotate(360deg);
        /* Gire a imagem 360 graus */
    }
}

.logo-sidenav {
    display: flex;
    justify-content: center;
}

.logo-sidenav img {
    max-width: 80px;

}

.loader-wrapper {
    opacity: 1;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loader-wrapper img {
    max-width: 100%;
    width: 100px;
}

.loader-wrapper.closed {
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

.thin {
    font-size: 12px;
    font-weight: 400;
}

.w-fit {
    width: fit-content;
    max-width: fit-content;
}


.mb-32 {
    margin-bottom: 32px
}

.h-max-content {
    height: max-content;
}

.w-197 {
    width: 205px;
}

.gap-y-3 {
    gap: 1rem 0;
}

.pt-56 {
    padding-top: 56px !important;
}

.pb-56 {
    padding-bottom: 56px !important;
}

.c-6 {
    flex: calc(100% * .5);
}

.gap-6 {
    gap: 24px;
}

.gap-40 {
    gap: 12px;
}

.gap-12 {
    gap: 12px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-32 {
    margin-top: 2rem;
}

.gapy-4 {
    gap: 24px 0;
}

.py-2-5 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p-relative {
    position: relative;
}

.p-static {
    position: static !important;
}

.br-word {
    word-break: break-all;
}



.line-height-custom {
    line-height: 22px !important;
}

.input-default {
    width: 205px;
    border: unset;
    background: #F2F5F8;
    height: 44px;
    padding: 14px 8px;
    border-radius: 4px !important;
    font-size: 14px;
}

.input-default:focus-visible {
    outline: 2px var(--color-primary-500) solid;
}

.input-default.plus {
    width: 427px;
}

.text-area {
    resize: none;
    overflow: hidden;
    min-height: 88px;
}

.texto-limitado {
    white-space: nowrap;
    /* Impede a quebra de linha */
    overflow: hidden;
    /* Oculta o texto que excede a largura */
    text-overflow: ellipsis;
    /* Adiciona "..." no final do texto excedente */
}

.placeholder-default{
    pointer-events: none;
    opacity: 0.6;
}

.disparo-image-preview {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--bs-gray-500);
    height: 350px;
    border-radius: 16px;
    border: 4px solid var(--bs-blue);
    width: 100%;
}

/* INPUT ERROR */

.input-container.error .input-box,
.input-container.error input:not(.input-box input) {
    border-color: var(--bs-danger);
}

.input-container.error .input-box input {
    color: var(--bs-danger);
}

.input-container.error .input-box path {
    fill: var(--bs-danger);
}

.input-message {
    color: var(--bs-danger);
}


.no-boxshadow {
    box-shadow: unset !important;
}

/* components default */

.wrapper-main {
    display: flex;
}

.card-default {
    background: #FFFFFF;
    border: 1px solid var(--color-gray-300);
    border-radius: 16px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.container-small {
    max-width: 912px;
    width: 100%;
    margin: 0 auto;
}

.container-modified {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

p.txt-default {
    font-size: 14px;
    line-height: 21px;
    color: var(--color-gray-700);
}

/* titles */

h1.first-title {
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 800 !important;
    color: var(--color-gray-900);
}

h2.second-title {
    font-size: 1.125rem;
    line-height: 27px;
    font-weight: 800;
    color: var(--color-gray-900);
}

h3.third-title {
    font-size: 1.125rem
        /* 18px */
    ;
    line-height: 18px;
    font-weight: 800;
    color: var(--color-gray-900);
}

h4.fourth-title {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--color-gray-500);
}

span.blue {
    position: relative;
    color: var(--color-primary-500);
    z-index: 1;
}

span.blue::after {
    position: absolute;
    content: "";
    width: 100%;
    border-radius: 500px;
    height: 12px;
    left: 8px;
    top: 68%;
    background-color: var(--color-primary-300);
    z-index: -1;
}

/* titles */

/* hover */

[hover="brightness"]:hover {
    filter: brightness(110%);
}


.dt-buttons {
    margin-bottom: 25px;
}

[hover-blue-800="fill-color"]:hover {
    background-color: var(--color-primary-800);
    color: white !important;
}

/* color */

.color-blue-800 {
    color: var(--color-primary-800) !important;
}

.color-blue-600 {
    color: var(--color-primary-600) !important;
}

.color-blue-500 {
    color: var(--color-primary-500) !important;
}

.color-500-green {
    color: var(--color-green-500) !important;
}

.color-white {
    color: #fff;
}

.color-white:hover {
    color: #fff;
}

.color-gray-800 {
    color: var(--color-gray-900) !important;
}

.color-gray-500 {
    color: var(--color-gray-500) !important;
}

.color-gray-700 {
    color: var(--color-gray-700) !important;
}

/* background */
.bg-blue-600 {
    background-color: var(--color-gray-600) !important;
}

.bg-blue {
    background-color: var(--color-primary-500) !important;
}

.bg-blue-800 {
    background-color: var(--color-primary-800) !important;
}

.bg-green-500 {
    background-color: var(--color-green-500) !important;
}

/* border */

.border-blue-600 {
    border-color: var(--color-primary-600) !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding: 13px 22px !important;
}

.border-blue-800 {
    border-color: var(--color-primary-800) !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding: 13px 22px !important;
}

.border-blue-500 {
    border-color: var(--color-primary-500) !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding: 13px 22px !important;
}

.border-radius-4 {
    border-radius: 1rem;
}

.border-gray-300 {
    border-color: var(--color-gray-300) !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.border-gray-500 {
    border-color: var(--color-gray-500) !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.border-gray-800 {
    border-color: var(--color-gray-900) !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding: 13px 22px !important;
}

.border-gray-800-light {
    border-color: var(--color-gray-900) !important;
    border-width: 1px !important;
    border-style: solid !important;
    padding: 13px 22px !important;
}

a {
    text-decoration: none !important;

}

.button-default {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
    padding: 15px 24px;
    border-radius: 500px;
    border: none;
    line-height: 14px;
    background-color: transparent;
    transition: 0.3s;
}

/* components default */

/* body */

body {
    background-color: var(--color-gray-100);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* body */

/* header */

.header-wrapper {
    height: 56px;
}

.header.header-modify {
    background-color: white;
    border-bottom: 1px solid #CCD1D6
}

.header.header-modify .container {
    max-width: unset;
}

.header.header-modify .header-wrapper {
    height: 76px !important;
}

.burguer-menu {
    width: max-content;
    background-color: transparent;
    border: unset;
}

.link-header {
    font-size: 14px;
    color: var(--color-gray-500);
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.link-header:hover {
    color: var(--color-primary-500) !important;
}

.link-header.active {
    color: var(--color-primary-500) !important;
    font-weight: 700;
}

.logo-header svg {
    width: 152px;
    height: 28px;
}


/* header */

/* banner */

.banner {
    padding: 16px 0 0 0;
}

.wrapper-button-search {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(50%);
}

.banner-wrapper {
    position: relative;
}

.text-banner {
    color: #5A646E;
    font-size: 14px;
    line-height: 21px;
    max-width: 443px;
}

.content-banner {
    max-width: 671px;
}

.grid-wrapper {
    display: grid;
    grid: repeat(1, 92px) / auto-flow 105px;
    gap: 8px;
    margin-top: 60px;
}

.item-grid {
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #737D86;
    line-height: 14px;
    position: relative;
}

.image-banner {
    position: absolute;
    right: -40px;
    top: -20px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.image-banner img {
    position: relative;
    width: 100%;
}

.image-banner::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 100%;
    background: rgb(1, 185, 242);
    background: linear-gradient(180deg, rgba(1, 185, 242, 1) 0%, rgba(213, 234, 243, 1) 100%);
    border-radius: 36px 36px 0 0;
    z-index: -1;
}

.item-grid.selected {
    border: 2px solid #fb5e2c;
}

.item-grid svg {
    margin-bottom: 20px;
}

.item-grid span {
    position: absolute;
    bottom: 17px;
}

.floathing-search {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -62px;
    transform: translateY(47%);
    padding: 24px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: white;
}

/* banner */

/* recommends */

.recommends {
    padding: 54px 0 32px 0;
    background-color: white;
}

.card-main {
    cursor: pointer;
}

.card-car {
    border-color: var(--color-gray-300);
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-car header {
    padding: 0;
}

.card-car h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-car header h4.fourth-title {
    margin-bottom: 0;
}

.card-main footer button {
    display: none;
}

.card-car header img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.wrapper-card-car-titles {
    padding: 1rem;
}

.card-divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-300);
}

.card-car .specs {
    padding: 1rem;
}

p.item-spec {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-gray-500);
}

.card-car footer {
    padding: 1rem;
}

.card-car footer .price {
    font-size: 1.125rem
        /* 18px */
    ;
    line-height: 18px;
    font-weight: 800;
    color: var(--color-gray-900);
}

.swiper-pagination-bullet-active {
    background-color: #025C77 !important;
}

/* swiper */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #E9EBEE
}

.swiper-pagination {
    bottom: 0;
    position: static;
}

.navigation-swiper {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 5;
}

.button-prev,
.button-next {
    position: relative;
    display: none !important;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 500px;

    z-index: 8;
}

.button-prev {
    transform: translateX(-50%);
}

.button-next {
    transform: translateX(50%);
}

/* recommends */

/* highlights */

.highlights {
    padding: 32px 0;
}

.card-revendas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-revendas header img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-revendas.plus header img {
    border-radius: 16px 16px 0 0;
}

.card-revendas.plus .body-specs {
    border-radius: 0 0 16px 16px;
}

.card-revendas .body-specs {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}

/* highlights */

/* partners */

.partners {
    background-color: #fff;
    padding: 64px 0;
}

.link-card {
    color: var(--color-primary-600);
    font-size: 18px;
    line-height: 22px;
    display: block;
}

/* partners */

/* classified */

section.classified {
    padding: 32px 0;
}

/* classified */

/* footer */

.footer-wrapper {
    background-color: #012733;
    padding: 32px 0;
    color: white !important;
}

.footer-wrapper h3.third-title {
    color: white !important;
    margin-bottom: 40px
}

.link-footer-navigator:hover {
    color: var(--color-primary-500);
}

.link-footer-navigator {
    transition: 0.3s;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu-navigation-footer {
    max-width: 869px;
    width: 100%;
}

.logo-wrapper-footer {
    flex: 0 0 100%;
    margin-bottom: 32px;
}

.logo-wrapper-footer p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}

/* end footer */

/* search */

/* SWITCH */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* SWITCH */

.search-filters {
    max-width: 300px;
    background-color: #fff;
    border-right: 1px solid var(--color-gray-300)
}

.label-filter {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-900);
}

.item-category-filter {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-500);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.item-category-filter.active span {
    color: var(--color-primary-500);
}

.item-category-filter.active svg path {
    fill: var(--color-primary-500);
}

.item-category-filter:hover span {
    color: var(--color-primary-500);
}

.item-category-filter:hover svg path {
    fill: var(--color-primary-500);
}

.label-radio-brand {
    font-size: 14px;
    color: var(--color-gray-500);
}

.ordenation-select {
    font-size: 14px;
    background-color: white;
    padding: 10px 8px;
    border: 1px solid #CCD1D6;
    color: var(--color-gray-500);
    border-radius: 4px;
}

.icon-chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

.navigation-pages small {
    font-size: 12px;
    color: #ACB4BA;
    font-weight: 500;
    line-height: 12px;
}

.num-results {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: var(--color-gray-500);
}

/* car */

/* galery */

.item-galery img {
    width: 100%
}

/* infos car */

.wrapper-infos-car {
    position: relative;
    top: -32px;
    z-index: 10
}

.wrapper-infos-content {
    flex-direction: column;
}

/* specs */

.specs-car {
    width: 100%;
    background-color: white;
    border: 1px solid var(--color-gray-300);
    box-shadow: 0px 6px 15px 0px #00000026;
    border-radius: 1rem;
    width: 100%;
    max-width: 786px;
    /* min-width:550px; */
}

/* message */

.message {
    background-color: white;
    border: 1px solid var(--color-gray-300);
    box-shadow: 0px 6px 15px 0px #00000026;
    border-radius: 1rem;
    width: 100%;
    max-width: 328px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    /* min-width:200px; */
}

.form-message-car {
    padding: 1.5rem;
}

.seller-profile {
    padding: 1.5rem;
}

.seller-image-profile {
    width: 64px;
    height: 64px;
}

.seller-image-profile img {
    width: 100%;
}

.wrapper-seller-infos {
    font-size: 14px;
    line-height: 14px;
    color: var(--color-gray-700);
}

.seller-name {
    font-weight: 800;
}

.wrapper-checkbox {
    gap: 12px;
}

.wrapper-checkbox small {
    font-size: 14px;
    line-height: 17px;
}

.title-spec {
    font-size: 32px;
    line-height: 32px;
    color: var(--color-gray-900);
    font-weight: 800;
}

.sub-title-spec {
    font-size: 18px;
    line-height: 18px;
    color: var(--color-gray-500);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-300);
}

.item-about-trade {
    padding: 7px;
    border-radius: 8px;
    background-color: var(--color-primary-100);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.p-4-5 {
    padding: 2rem;
}

/* items */

.items-car {
    padding: 32px;
}

.main-items {
    margin-bottom: 32px;
}

.item-car {
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--color-gray-200);
    font-size: 12px;
    color: var(--color-gray-900);
    font-weight: 700
}


/* characteristics */
.characteristics {
    padding: 24px 32px;
}


.costumer-grid {
    gap: 32px 0;
}


.title-characteristics {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-600);
}

.data-characteristics {
    font-size: 14px;
    font-weight: 800;
    color: var(--color-gray-700);
}


/* description and  notes */

.wrapper-text-about-car {
    padding: 32px;
}

.wrapper-text-about-car p {
    color: var(--color-gray-700);
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}

.description {
    margin-bottom: 32px;
}

/* exchangeable */

.exchangeable {
    padding: 32px;
}

.card-exchangeable {
    border: var(--color-gray-300) solid 1px;
    padding: 16px;
    border-radius: 8px;
}

.tag-category {
    background-color: var(--color-primary-300);
    padding: 4px 8px;
    border-radius: 50px;
    color: var(--color-primary-800);
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 12px;
}

.unhighlighted {
    font-size: 14px;
    color: car(--color-gray-600);
    margin-bottom: 12px;
}

.highlighted {
    font-size: 14px;
    color: car(--color-gray-900);
    margin-bottom: 12px;
    font-weight: 700;
}


/* classificados */

.card-container-title {
    font-weight: 700;
    font-size: 18px;
}

.classified-slide img {
    width: 100%;
    border-radius: 0.5rem;
}

.slides-adverts {
    padding: 2rem;
}

.adverts-description {
    padding: 2rem;
}

.title-card-wrapper {
    padding: 2rem;
}

.adverts-description p {
    font-size: 14px;
    line-height: 21px;
    color: var(--color-gray-700);
}

.wrapper-adverts {
    margin-bottom: 2rem;
}

.wrapper-adverts h2.second-title {
    line-height: 2rem;
}

.wrapper-adverts h3.third-title {
    color: var(--color-gray-700);
}

.adverts-locations {
    padding: 2rem;
}

.item-location {
    color: var(--color-gray-900);
    font-weight: 700;
    background-color: var(--color-gray-200);
    border-radius: 50px;
    padding: 16px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 14px;
    line-height: 14px;
}

.wrapper-merchant {
    margin-bottom: 64px;
}

/* company */

/* profile company */

.wrapper-profile-company .cover {
    max-height: 295px;
    width: 100%;
}

.wrapper-profile-company .cover img {
    width: 100%;
    object-fit: cover;
    height: 295px;
}

.wrapper-data-company {
    background-color: white;
    border-radius: 0px 0px 16px 16px;
    padding: 16px 32px;
    max-height: 99px;
}

.image-profile-company {
    width: 100%;
    height: 166px;
    max-width: 166px;
    transform: translateY(-60%);
}

.image-profile-company img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
}

.name-company {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: var(--color-gray-900);
}

.location-company {
    font-size: 14px;
    line-height: 14px;
    color: var(--color-gray-500);
}

/* exchange - page */

.card-exchange {
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 1.5rem;
}

.card-exchange h3.third-title {
    margin-bottom: 30px !important;
}

.label-select {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-500);
}

.title-card-how-work {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--color-gray-900);
}

.exchange-banner {
    position: relative;
    display: flex;
    justify-content: center;

}

.exchange-banner::after {
    position: absolute;
    content: "";
    width: 100%;
    max-width: 288px;
    height: 110%;
    background: linear-gradient(180deg, #fb5e2c 0%, #F2F5F8 100%);
    border-radius: 32px 32px 0px 0px;
    z-index: -1;
}

.exchange-banner img {
    width: 100%;
    max-width: 368px;
    position: relative;
    align-self: center;
}

.wrapper-how-work {
    padding: 32px 0;
}

.card-how-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-category-filter {}


/* INPUT  */
.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 12px;
    gap: 8px;
    width: 299px;
    height: 44px;
    background: #F2F5F8;
    border-radius: 4px;
    border: 1px solid transparent;
}

textarea.input-box {
    outline: none;
    border: none;
    min-height: 120px;
    color: #5A646E
}

.input-box .input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 0;
    font-size: 14px;
}


/* PLACEHOLDER */

.placeholder-custom-size {
    max-width: 100%;
}

.placeholder-custom-size::before,
.placeholder-input::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.placeholder-custom-size.dark::before,
.placeholder-input.dark::before {
    background: linear-gradient(to right, transparent 0%, #454040 50%, transparent 100%);
}

.placeholder-custom-size.dark,
.placeholder-input.dark {
    background-color: #2b2929;
}

.placeholder-custom-size.alt::before,
.placeholder-input.alt::before {
    background: linear-gradient(to right, transparent 0%, #F2F2F2 50%, transparent 100%);
}

.placeholder-custom-size.alt,
.placeholder-input.alt {
    background-color: #e6e6e6;
}

.placeholder-custom-size,
.placeholder-input {
    max-width: 100%;
    background-color: var(--color-gray-400);
    color: var(--color-gray-200);
    position: relative;
    overflow: hidden;
    border-radius: 4px !important;
}

.placeholder-input {
    max-width: 100%;
    background-color: var(--color-gray-400);
    color: var(--color-gray-200);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 4px !important;
}

.placeholder-custom-size *,
.placeholder-input * {
    opacity: 0;
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

/* SWAL */
.popup-custom {
    border-radius: 16px;
    margin-bottom: 24px;
}

.popup-content-custom {
    text-align: left;
    font-weight: 500;
    color: #737D86;
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.popup-icon-custom {
    border: 0 !important;
    margin-bottom: 9px;
}

.popup-title-custom {
    font-size: 26px;
}

.popup-actions-custom {
    margin-top: 0px;
}

.popup-confirm-custom {
    border-radius: 500px !important;
    min-width: 130px;
    width: fit-content !important;
}

.popup-cancel-custom {
    border-radius: 500px !important;
    min-width: 130px;
    width: fit-content !important;
    background-color: white !important;
}

.edit-avatar {
    position: relative;
}

.edit-avatar:hover:before {
    opacity: 1;
}

.edit-avatar:before {
    opacity: 0;
    content: 'Editar';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.342);
    transition: opacity 0.3s;
    cursor: pointer;
}

.cancel-button {
    background: transparent !important;
    color: var(--color-gray-700) !important;
    border: 1px solid var(--color-gray-700) !important;
    border-radius: 500px !important;
}

.modal-content {
    border-radius: 16px;
}

.modal-title {
    font-weight: 600;
    color: var(--color-gray-900);
}

.bg-red {
    background-color: var(--bs-danger) !important;
}

/* HOVERS */
button.button-default.border-gray-800.color-gray-800.bg-transparent:hover {
    background-color: var(--color-primary-800) !important;
    color: white !important;
    border-color: var(--color-primary-800) !important;
}


/* CHECK BOX */
/* Customize the label (the container) */
.chk-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: calc(16px + 8px);
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
}

/* Hide the browser's default checkbox */
.chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.chk-container.radio .checkmark {
    border-radius: 50%;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: none;
    border: 2px solid #011833;
    border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.chk-container input:checked~.checkmark {
    background-color: var(--color-primary-500);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chk-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chk-container .checkmark:after {
    left: 50%;
    top: 50%;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.chk-container.radio .checkmark:after {
    display: none !important;
}



/* END CHECKBOX */


@media only screen and (min-width:1400px) {

    .container {
        max-width: 1360px;
        padding: 0;
    }

}

@media only screen and (min-width:1320px) {

    header.header.header-modify {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

@media only screen and (min-width:1200px) {
    .container-modified {
        padding: 0;
    }
}

@media (min-width: 992px) {

    /* card car */

    .wrapper-card-car-titles {
        padding: 0;
    }

    .card-car header {
        padding: 1rem;
    }

    .card-main footer button {
        display: flex;
    }

    .card-car header img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
    }

    .container-small {
        padding: 0;
    }

    .gap-6 {
        gap: 50px;
    }

    h1.first-title {
        font-size: 2.5rem;
        line-height: 60px;
        font-weight: 800 !important;
        color: var(--color-gray-900);
    }

    h2.second-title {
        font-size: 2rem;
        line-height: 48px;
        font-weight: 800;
        color: var(--color-gray-900);
    }

    h3.third-title {
        font-size: 1.125rem
            /* 18px */
        ;
        line-height: 18px;
        font-weight: 800;
        color: var(--color-gray-900);
    }

    h4.fourth-title {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        color: var(--color-gray-500);
    }

    /* header */
    .header-wrapper {
        height: 108px;
    }

    .logo-header svg {
        width: 213px;
        height: 40px;
    }

    /* banner */

    .banner {
        padding: 40px 0 62px 0;
    }


    /* recomends */

    .recommends {
        padding: 110px 0 66px 0;
    }

    /* highlights */

    .highlights {
        padding: 64px 0;
    }

    /* partners */

    .partners {
        padding: 64px 0;
    }

    /* footer */
    .footer-wrapper {
        padding: 64px 0;
    }

    .logo-wrapper-footer {
        flex: 0 0 25%;
        margin-bottom: 0
    }

    .logo-wrapper-footer p {
        margin-bottom: 32px
    }

    .wrapper-infos-content {
        flex-direction: row;
    }

    /* exchenge */

    .wrapper-how-work {
        padding: 64px 0;
    }

    .title-card-how-work {
        font-size: 24px;
        line-height: 36px;
    }

    .card-how-work {
        align-items: start;
        text-align: left;
    }

    .gap-40 {
        gap: 40px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 576px) {
    .button-prev {
        display: flex !important;
    }

    .button-next {
        display: flex !important;
    }

}