RewriteEngine On

RewriteRule ^login$            pages/auth/login.php

RewriteRule ^$                                  pages/grupos-comerciais/list.php
RewriteRule ^home$                              pages/grupos-comerciais/list.php
RewriteRule ^grupos-comerciais$                 pages/grupos-comerciais/list.php
RewriteRule ^grupos-comerciais/cadastrar$       pages/grupos-comerciais/create.php
RewriteRule ^grupos-comerciais/editar/(.*)$     pages/grupos-comerciais/edit.php?id=$1

RewriteRule ^grupos-comerciais/acessar/(.*)$     pages/lojas/list.php?id=$1
RewriteRule ^grupos-comerciais/instancias/(.*)$  pages/instancias/list.php?id=$1


## Instancias

RewriteRule ^instancias/cadastrar/(.*)$      pages/instancias/create.php?id=$1
RewriteRule ^instancias/editar/(.*)$         pages/instancias/edit.php?id=$1

RewriteRule ^instancias/acessar/(.*)$        pages/grupos/list.php?id=$1

## LOJAS

RewriteRule ^lojas/cadastrar/(.*)$      pages/lojas/create.php?id=$1
RewriteRule ^lojas/editar/(.*)$         pages/lojas/edit.php?id=$1

RewriteRule ^lojas/acessar/(.*)$        pages/grupos/list.php?id=$1

## GRUPOS

RewriteRule ^grupos/cadastrar/(.*)$      pages/grupos/create.php?id=$1
RewriteRule ^grupos/editar/(.*)$         pages/grupos/edit.php?id=$1

RewriteRule ^grupos/acessar/(.*)$        pages/sorteios/list.php?id=$1

## SORTEIOS

RewriteRule ^sorteios/cadastrar/(.*)$      pages/sorteios/create.php?id=$1
RewriteRule ^sorteios/editar/(.*)$         pages/sorteios/edit.php?id=$1
RewriteRule ^sorteios/acessar/(.*)$        pages/premios/list.php?id=$1


## SORTEIOS

RewriteRule ^premios/cadastrar/(.*)$      pages/premios/create.php?id=$1
RewriteRule ^premios/editar/(.*)$         pages/premios/edit.php?id=$1



<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

