body{
    background-color: white;
}
.faq-header{
    padding-top: 24px ;
    padding-bottom: 24px ;
    border: 1px solid #CCD1D6;
    border-top: none;
    border-left: none;
    border-right: none;
}
.faq-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item{
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    text-align: center;
    color: #3B454F;
}
.faq-item.active{
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    text-align: center;
    color: #fb5e2c;
}

.faq-item:hover{
    color: #fb5e2c;
}

.wrapper-main-faq{
    width: 912px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 64px;
}

.faq-title{
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    color: #22272D;
    margin-top: 40px;
    margin-bottom: 32px;
}

.wrapper-main-faq p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3B454F;
    
}

.input-container label{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #5A646E;
    margin-bottom: 8px;
}

.title-contato{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #3B454F;
}

.mt-40{
    margin-top: 40px;
}

@media screen and (max-width:768px){
    .faq-header{
        overflow-x: scroll;
    }
    .faq-wrapper{
        display: flex;
        justify-content: start;
        align-items: center;
        white-space: nowrap;
    }
}